.custum-box{
    text-align: center;
    /*
    background: #2C3E50;  
    background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);
    background: linear-gradient(to right, #4CA1AF, #2C3E50); 
    */
    margin: 100px;
    padding: 100px;
    /*border-color: #a38d6f; box-shadow: 5px 10px;
    border-radius: 20px;*/
}

body{
    /* Location of the image
    background-image: url(/img/scenic-view-of-forest-during-night-time-1252869.jpg);

    Background image is centered vertically and horizontally at all times
    background-position: center center;

     Background image doesn’t tile 
    background-repeat: no-repeat;

    Background image is fixed in the viewport so that it doesn’t move when
    the content’s height is greater than the image’s height 
    background-attachment: fixed;

     This is what makes the background image rescale based
    on the container’s size 
    background-size: cover;

     Set a background color that will be displayed
    while the background image is loading 
    background-color: #464646;*/
    font-family: monospace;
}